#imagen {
  width: 40%;
  background-position: center;
  margin-left: 25%;
  padding-top:2%;
}

#btnlog {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  font-size: 15px;
  color: #373737;
  background-color: #FFC107;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 120px;
  height:40px;
  float:left;
}


#btncont{
  border-radius: 112px 112px 112px 112px;
-moz-border-radius: 112px 112px 112px 112px;
-webkit-border-radius: 112px 112px 112px 112px;
border: 1px solid #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  font-size: 15px;
  color: #373737;
  background-color: #FFC107;

}

#btncont:hover {
  color:#FFC107;
  background-color:#FFA000;
}

.informacion{
  border: 1px solid none;
  padding-left: 2%;
  margin-top: 15%;
  -webkit-box-shadow: -5px 4px 21px -6px rgba(212,208,212,1);
  -moz-box-shadow: -5px 4px 21px -6px rgba(212,208,212,1);
  box-shadow: -5px 4px 21px -6px rgba(212,208,212,1);
  width: 420px;
  height:320px;
}

.img-laboratoria{
  width: 100%;
  background-position: center;
  margin-left: 25%;
  padding-top:3%;

  image-rendering: optimizeSpeed;
}

